<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @sender.username %> accepted your offer!</h1><br>
    <h4>At timeslot: <%=@timeslot.time.strftime("%d/%m/%y") %></h4><br>

    <p>Their email is: <%= @sender.email %></p>

    <p>Checkout your appointment at <%= @url %></p>

  </body>
</html>
