<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @sender.username %> wants to trade talents!</h1><br>
    <h4>At timeslot: <%= @timeslot.time %></h4><br>
    <ul>
      <h3>They have these talents to offer:</h3><br>
      <% @sender.talents.each do |talent| %>
        <li><%= talent.title %></li>
      <%end%><br>
    </ul>
    <p>Accept at <%= @url %></p>

  </body>
</html>
