<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Barter.com, <%= @user.username %></h1>
    <p>
      You have successfully signed up to Barter.com. <br>
      Your username is: <%= @user.username %><br>
      Your password is: <%= @user.password %><br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Come share your talents with us!</p>
  </body>
</html>
