<div id="user-page" class="container">
  <div class="row">

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div id="user-container">
        <i id="user-add-talent" class="fa fa-pencil fa-lg" data-toggle="modal" data-target="#userNewTalent" ng-show="app.current_user.id === users.user.id" ng-click="users.getS3UploadParams()">Add New Talent</i>
        <div id="user-aboutme">
          <h4 class="center bold underline">{{users.user.username}}</h4>
          <i id="user-edit" class="fa fa-pencil-square-o fa-2x" data-toggle="modal" data-target="#userEdit" ng-show="app.current_user.id === users.user.id" title="Edit"></i>


          <img class="user-image" src="http://www.gravatar.com/avatar/{{users.user.gravatar}}?s=150&&d=http://i.imgur.com/JCimKzH.jpg" />

          <div id="userEdit" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">{{users.user.username}}</h4>
                </div>
                <div class="modal-body">
                  <form>
                    Email: <input type="text" name="email" ng-model="users.user.email">
                    Interests: <input type="text" name="interests" ng-model="users.user.interests">
                    Location: <input type="text" name="location" ng-model="users.user.location">
                    About Me: <input type="text" name="about" ng-model="users.user.about">
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" data-dismiss="modal" ng-click="users.saveUser(users.user)" class="btn btn-primary" ng-hide="userEdit">Save changes</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- userEdit -->

          <ul>
            <p><span class="bold">Rating:</span> {{users.toStars(users.user.score)}}</p>
            <!-- Rate User -->
            <div id="rating-form">
              <form ng-show="app.current_user.id !== users.user.id && !users.hasRating(users.user, app.current_user) && users.hasAcceptedOffer(users.user, app.current_user)">
                Rating:
                <select ng-model="users.user.reputation.rating">
                  <option ng-repeat="rating in users.ratings" value="{{rating}}">{{rating}}</option>
                </select>
                <button type="submit" ng-click="users.saveRating()" class="btn btn-primary">Rate</button>
              </form>
            </div>
            <p><span class="bold">Email:</span> {{users.user.email}}</p>
            <p><span class="bold">Interests:</span> {{users.user.interests}}</p>
            <p><span class="bold">Location:</span> {{users.user.location}}</p>
            <p><span class="bold">About Me:</span> {{users.user.about}}</p>
          </ul>
        </div><!-- user-aboutme -->
      </div> <!-- user-container -->

      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="user-timeslots"  class="col-lg-12">

            <div id="new-ts" class="modal fade" ng-show="tab===8">
              <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                 <h3>Create new timeslot here</h3>
                </div>
                <div class="modal-body">
              <form id="ts-form">
                <label>day of the week:</label>
                <select class="form-control" ng-model="users.user.timeslot.day">
                  <option ng-repeat="day in users.days" name="day" value="{{day}}">{{day}}</option>
                </select><br>
                <label>choose hour:</label>
                <select class="form-control" ng-model="users.user.timeslot.hour">
                  <option ng-repeat="hour in users.hours" name="hour" value="{{hour}}">{{hour}}</option>
                </select>
                <br>
                <button class="btn btn-default" type="submit"  data-dismiss="modal" ng-click="tab=0;users.creeTimeslot()" class="btn btn-primary">Submit</button>
                <button class="btn btn-default" ng-click="tab=0" data-dismiss="modal">close</button>
              </form>
            </div>
          </div>
        </div>
            </div>
            <button ng-show="app.current_user.id === users.user.id" class="btn btn-margin" data-toggle="modal" data-target="#new-ts" ng-click="tab=8">Create new timeslot</button>

            <div class="day-block" ng-repeat="day in users.day_array">
              <div class="day-div">
                <h2 class= "day-title">{{day.name}}</h2>
                <div class="tims-count" >
                <h3 ng-show="(users.user.timeslots | filter:{weekday: day.id}).length===0">no timeslots here</h3>
                  <h3 ng-show="(users.user.timeslots | filter:{weekday: day.id}).length!==0"  ng-click ="itsOpen = !itsOpen">{{(users.user.timeslots | filter:{weekday: day.id}).length }} timeslot(s)</h3>
                </div>
                <!-- <table table-hover> -->
                <div class="day timeslot" id="day.name" ng-show="itsOpen" ng-repeat="timeslot in users.user.timeslots | filter:{weekday: day.id} | orderBy :'time'">
                  <h3 class="times">At {{timeslot.hours}}</h3>
                  <button class="btn btn-margin" ng-show="timeslot.offers.length && tab !== day.id && !users.isClosed(timeslot)" ng-click="tab = day.id">{{timeslot.offers.length}} offer(s)</button>
                  <button class="btn btn-margin" ng-show="timeslot.offers.length && tab !== day.id  && users.isClosed(timeslot)" ng-click="tab = day.id">Accepted offer</button>
                  <div id="timeslot-offers" ng-show="tab === day.id">
                    <ul ng-repeat="offer in timeslot.offers">
                      <li class="offers"><button class="btn btn-margin" ng-click="tab = (day.id * 11)" ng-show="tab !== (day.id * 11)">See  {{offer.student.username}}' offer </button>
                        <div class="talnt" ng-show = "tab === (day.id * 11) ">
                          <!-- <h2>{{offer.status}}</h2> -->
                          <h3><a href="users/{{offer.student.id}}">Offer made by {{offer.student.username}}</a></h3>
                          <h3>{{offer.student.username}}'s rating: {{users.toStars(offer.student_score)}} </h3>
                          <h3>{{offer.student.username}}'s talents:</h3>
                          <div class="tim-of" ng-repeat="talent in offer.student_talents">
                            <p>{{talent.title}}</p>
                          </div>
                          <button ng-click="users.acceptOffer(offer);tab=(day.id * 10 + 9)" class="btn btn-margin" ng-show="app.current_user.id === users.user.id && !users.isClosed(timeslot)">accept</button>
                          <button ng-click="users.declineOffer(offer);tab = 0" class="btn btn-margin" ng-show="app.current_user.id === users.user.id && !users.isClosed(timeslot)">decline</button>
                          <button ng-click="users.declineOffer(offer);tab = 0" class="btn btn-margin" ng-show="app.current_user.id === users.user.id && users.isClosed(timeslot)">cancel</button>
                          <button class="btn btn-margin offer-close" ng-click="tab= day.id">back to offers</button>
                        </div>
                      </li>
                    </ul>
                    <button class="btn btn-margin" ng-click="tab = 0" ng-show="timeslot.offers.length && tab !== (day.id * 10 + 9) ">close</button>
                  </div>
                  <button class="btn btn-margin" ng-click="users.createOffer(timeslot);tab = (day.id * 11)" ng-show="app.current_user.id !== users.user.id && !users.isClosed(timeslot) && !users.hasOffer(timeslot, app.current_user.id)">create offer</button><br>
                  <button class="btn btn-margin" ng-show="app.current_user.id === users.user.id" ng-click="users.deleteTimeslot(timeslot)">delete timeslot</button>
                </tr>
              </div>
              <!-- </table> -->
              </div>
            </div>
          </div>

        </div><!-- timeslot col-12-->
      </div><!-- timeslot row -->
    </div> <!-- user info col-6 -->

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <!-- Creating new talent -->
      <div id="userNewTalent" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Talent</h4>
            </div>
            <div class="modal-body">
                <form >
                  Title: <input type="text" name="title" ng-model="users.talent.title">
                  Description: <input type="text" name="description" ng-model="users.talent.description">
                  Category:
                  <select id="user-select" ng-model="users.talent.type">
                    <option ng-repeat="category in users.categories" value="{{category}}">{{category}}</option>
                  </select>
                  Experience:
                  <select id="user-select" name="experience" ng-model="users.talent.experience">
                    <option ng-repeat="experience in users.experiences" value="{{experience}}">{{experience}}</option>
                  </select>
                  Sample: <input type="file" name="sample" file-input="users.upload_file_entered">
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" data-dismiss="modal" ng-click="users.saveTalent()" class="btn btn-primary" ng-hide="userNewTalent">Create Talent</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- userNewTalent -->

      <div id="user-talents">
        <div class="panel-group" id="accordionUT">
          <div ng-repeat="talent in users.user.talents" class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordionUT" href="#collapse{{talent.id}}">{{talent.title}}</a>
              </h4>
            </div>
            <div id="collapse{{talent.id}}" class="panel-collapse collapse in">
              <div class="panel-body">
                <i id="delete" class="fa fa-times fa-2x" data-toggle="modal" data-target="#delTalent{{talent.id}}" ng-show="app.current_user.id === users.user.id" title="Remove"></i>
                <p class="talent-line">Description: {{talent.description}}</p>
                <p class="talent-line">Category: {{talent.type}}</p>
                <p class="talent-line">Experience: {{talent.experience}}</p>
                <p class="talent-line">Sample: {{talent.sample}}</p>
                <!-- Delete button for Talent -->

                <div id="delTalent{{talent.id}}" class="modal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Delete {{talent.title}}</h4>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" data-dismiss="modal" ng-click="users.deleteTalent(talent)" class="btn btn-primary" ng-hide="talentEdit">Confirm Delete</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <!-- Edit Button for Talent -->
                <i id="talent-edit" class="fa fa-pencil-square-o fa-2x" data-toggle="modal" data-target="#editTalent{{talent.id}}" ng-show="app.current_user.id === users.user.id" title="Edit" ng-click="users.getS3UploadParams()"></i>
                <div id="editTalent{{talent.id}}" class="modal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit {{talent.title}}</h4>
                      </div>
                      <div class="modal-body">
                        <form>
                          <span class="bold">Title:</span> <input type="text" name="title" ng-model="talent.title">
                          <span class="bold">Description:</span> <input type="text" name="description" ng-model="talent.description">
                          <span class="bold">Category:</span>
                          <select id="user-select" ng-model="users.talent.type">
                            <option ng-repeat="category in users.categories" value="{{category}}">{{category}}</option>
                          </select>
                          <span class="bold">Experience:</span>
                          <select id="user-select" name="experience" ng-model="users.talent.experience">
                            <option ng-repeat="experience in users.experiences" value="{{experience}}">{{experience}}</option>
                          </select>
                          Sample: <input type="file" name="sample" file-input="users.upload_file_entered">
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" data-dismiss="modal" ng-click="users.updateTalent(talent)" class="btn btn-primary" ng-hide="talentEdit">Save changes</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
              </div>
            </div>
          </div>
        </div>
      </div><!-- user-talents -->
    </div> <!-- user talents col-6 -->
  </div> <!-- main row -->

</div> <!-- main container -->

  <!-- <week-day info="monday"></week-day>
  <week-day info="tuesday"></week-day>
  <week-day info="wednesday"></week-day>
  <week-day info="thursday"></week-day>
  <week-day info="friday"></week-day>
  <week-day info="saturday"></week-day>
  <week-day info="sunday"></week-day> -->


