<div id="user-container">
  <div id="user-aboutme">
    <h4 class="center bold underline">{{users.user.username}} </h4>
    <p>Rating: {{users.user.score}}</p>
    <!-- Rate User -->
    <div id="rating-form">
      <form>
        Rating:
        <select ng-model="users.user.reputation.rating">
          <option ng-repeat="rating in users.ratings" value="{{rating}}">{{rating}}</option>
        </select>
        <button type="submit" ng-click="users.saveRating()" class="btn btn-primary">Rate</button>
      </form>
    </div>

    <ul>
      <p><span class="bold">Email:</span> {{users.user.email}}</p>
      <p><span class="bold">Interests:</span> {{users.user.interests}}</p>
      <p><span class="bold">Location:</span> {{users.user.location}}</p>
      <p><span class="bold">About Me:</span> {{users.user.about}}</p>
    </ul>
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#userEdit">
      Edit Account Information
    </button>
    <div id="userEdit" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{users.user.username}}</h4>
          </div>
          <div class="modal-body">
            <form>
              Email: <input type="text" name="email" ng-model="users.user.email">
              Interests: <input type="text" name="interests" ng-model="users.user.interests">
              Location: <input type="text" name="location" ng-model="users.user.location">
              About Me: <input type="text" name="about" ng-model="users.user.about">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" data-dismiss="modal" ng-click="users.saveUser(users.user)" class="btn btn-primary" ng-hide="userEdit">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>

  <div id="user-talents">
    <!-- TODO: Add partial template of user talents for future horizontal scroll -->
    <ul>
      <li ng-repeat="talent in users.user.talents">
        <a ng-click="users.toggleTalentShown(talent)">{{talent.title}}</a>
        <div ng-class="talent.isShown ? 'visible' : 'hidden'">
          <p>Category: {{users.convertType(talent.type)}}</p>
          <p>Experience: {{talent.experience}}</p>
          <p>Description: {{talent.description}}</p>
          <p>Sample: {{talent.sample}}</p>
          <!-- TODO: Create Edit modal -->
          <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#talent{{talent.id}}">
            Edit Talent
          </button>
          <div id="talent{{talent.id}}" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Edit {{talent.title}}</h4>
                </div>
                <div class="modal-body">
                  <form>
                    Title: <input type="text" name="title" ng-model="talent.title">
                    Description: <input type="text" name="description" ng-model="talent.description">
                    Type: <input type="text" name="type" ng-model="talent.type">
                    Experience: <input type="text" name="experience" ng-model="talent.experience">
                    Sample: <input type="text" name="sample" ng-model="talent.sample">
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" data-dismiss="modal" ng-click="users.updateTalent(talent)" class="btn btn-primary" ng-hide="talentEdit">Save changes</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </div>
      </li>
    </ul>
  </div>

<!-- Creating new talent -->
  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#userNewTalent">
    Add a talent
  </button>
  <div id="userNewTalent" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">New Talent</h4>
        </div>
        <div class="modal-body">
            <form >
              Title: <input type="text" name="title" ng-model="users.talent.title">
              Sample: <input type="text" name="sample" ng-model="users.talent.sample">
              Description: <input type="text" name="description" ng-model="users.talent.description">
              Type:
              <select ng-model="users.talent.type">
                <option ng-repeat="category in users.categories" value="{{category}}">{{category}}</option>
              </select>
              Experience:
              <select name="experience" ng-model="users.talent.experience">
                <option ng-repeat="experience in users.experiences" value="{{experience}}">{{experience}}</option>
              </select>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" data-dismiss="modal" ng-click="users.saveTalent()" class="btn btn-primary" ng-hide="userNewTalent">Create Talent</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<!-- TODO: Add partial template of timeslots here -->
  <div id="user-timeslots" >
    <div>
      <h2>Monday</h2>
      <div id="mo" ng-repeat="timeslot in users.user.timeslots | filter:{weekday:1}">
        {{timeslot.hours}}
        <p>timeslot id: {{timeslot.id}}</p>
        <button class="btn btn-default" ng-show="timeslot.offers.length && tab !== 1 && !users.isClosed(timeslot)" ng-click="tab = 1">{{timeslot.offers.length}} offer(s)</button>
        <button class="btn btn-success" ng-show="timeslot.offers.length && tab !== 1  && users.isClosed(timeslot)" ng-click="tab = 1">Accepted offer</button>
        <div id="timeslot-offers" ng-show="tab === 1">
          <ul ng-repeat="offer in timeslot.offers">
            <li><button class="btn btn-default" ng-click="tab = 11" ng-show="tab !== 11">See offer {{offer.id}} </button>
              <div class="talnt" ng-show = "tab ===11 ">
                 <h4>status: {{offer.status}}</h4>
                 <h3>{{offer.student.username}}</h3>
                 <h3>{{offer.student.username}}'s talents:</h3>
                 <div ng-repeat="talent in offer.student_talents">
                   <p>{{talent.title}}</p>
                 </div> ng-show="app.current_user.id === users.user.id"
                 <button ng-click="users.acceptOffer(offer);tab=19" class="btn btn-default" ng-show="app.current_user.id === users.user.id && !users.isClosed(timeslot)">accept</button>
                 <button ng-click="users.declineOffer(offer);tab = 0" class="btn btn-default" ng-show="app.current_user.id === users.user.id && !users.isClosed(timeslot)">decline</button>
                 <button ng-click="users.declineOffer(offer);tab = 0" class="btn btn-default" ng-show="app.current_user.id === users.user.id && users.isClosed(timeslot)">cancel</button>
                 <button class="btn btn-default" ng-click="tab=1">close</button>
               </div>
             </li>
          </ul>
          <button class="btn btn-default" ng-click="tab = 0" ng-show="timeslot.offers.length && tab !== 19">close</button>
        </div>
        <button class="btn btn-default" ng-click="users.createOffer(timeslot);tab = 11" ng-show="app.current_user.id !== users.user.id && !users.isClosed(timeslot)">create offer</button><br>
        <button ng-show="app.current_user.id === users.user.id" ng-click="users.deleteTimeslot(timeslot)">delete timeslot</button>
      </div>
    </div>
    <div>
      <h2>Tuesday</h2>
      <div id="tue" ng-repeat="timeslot in users.user.timeslots | filter:{weekday:2}">
        {{timeslot.hours}}
        <p>timeslot id: {{timeslot.id}}</p>
        <button class="btn btn-default" ng-show="timeslot.offers.length && tab !== 2 && !users.isClosed(timeslot)" ng-click="tab = 2">{{timeslot.offers.length}} offer(s)</button>
        <button class="btn btn-success" ng-show="timeslot.offers.length && tab !== 2  && users.isClosed(timeslot)" ng-click="tab = 2">Accepted offer</button>
        <div id="timeslot-offers" ng-show="tab === 2">
          <ul ng-repeat="offer in timeslot.offers">
            <li><button class="btn btn-default" ng-click="tab = 22" ng-show="tab !== 22">See offer {{offer.id}} </button>
              <div class="talnt" ng-show = "tab ===22 ">
                <h4>status: {{offer.status}}</h4>
                 <h3>{{offer.student.username}}</h3>
                 <h3>{{offer.student.username}}'s talents:</h3>
                 <div ng-repeat="talent in offer.student_talents">
                   <p>{{talent.title}}</p>
                 </div>
                 <button ng-click="users.acceptOffer(offer);tab=29" class="btn btn-default" ng-show="app.current_user.id === users.user.id && !users.isClosed(timeslot)">accept</button>
                 <button ng-click= "users.declineOffer(offer);tab = 0" class="btn btn-default" ng-show="app.current_user.id === users.user.id && !users.isClosed(timeslot)">decline</button>
                 <button ng-click="users.declineOffer(offer);tab = 0" class="btn btn-default" ng-show="app.current_user.id === users.user.id && users.isClosed(timeslot)">cancel</button>
                 <button class="btn btn-default" ng-click="tab=2">close</button>
               </div>
            </li>
          </ul>
          <button class="btn btn-default" ng-click="tab = 0" ng-show="timeslot.offers.length && tab !==29">close</button>
        </div>
        <button class="btn btn-default" ng-click="users.createOffer(timeslot);tab = 22" ng-show="app.current_user.id !== users.user.id && !users.isClosed(timeslot)" >create offer</button>
        <button ng-show="app.current_user.id === users.user.id" ng-click="users.deleteTimeslot(timeslot)">delete timeslot</button>
      </div>
    </div>
    <div>
      <h2>Wednesday</h2>
      <div id="wed" ng-repeat="timeslot in users.user.timeslots | filter:{weekday:3}">
        {{timeslot.hours}}
        <p>timeslot id: {{timeslot.id}}</p>
        <button class="btn btn-default" ng-show="timeslot.offers.length && tab !== 3 && !users.isClosed(timeslot)" ng-click="tab = 3">{{timeslot.offers.length}} offer(s)</button>
        <button class="btn btn-success" ng-show="timeslot.offers.length && tab !== 2  && users.isClosed(timeslot)" ng-click="tab = 2">Accepted offer</button>
        <div id="timeslot-offers" ng-show="tab === 3">
          <ul ng-repeat="offer in timeslot.offers">
            <li><button class="btn btn-default" ng-click="tab = 33" ng-show="tab !== 33">See offer {{offer.id}} </button>
                 <div class="talnt" ng-show = "tab ===33 ">
                  <h4>status: {{offer.status}}</h4>
                   <h3>{{offer.student.username}}</h3>
                   <h3>{{offer.student.username}}'s talents:</h3>
                   <div ng-repeat="talent in offer.student_talents">
                     <p>{{talent.title}}</p>
                   </div>
                   <button ng-click="users.acceptOffer(offer);tab=39" class="btn btn-default"  ng-show="app.current_user.id === users.user.id && !users.isClosed(timeslot)">accept</button>
                   <button ng-click="users.declineOffer(offer);tab = 0" class="btn btn-default" ng-show="app.current_user.id === users.user.id && !users.isClosed(timeslot)">decline</button>
                   <button ng-click="users.declineOffer(offer);tab = 0" class="btn btn-default" ng-show="app.current_user.id === users.user.id && users.isClosed(timeslot)">cancel</button>
                   <button class="btn btn-default" ng-click="tab=3">close</button>
                 </div>
            </li>
          </ul>
          <button class="btn btn-default" ng-click="tab = 0" ng-show="timeslot.offers.length && tab !== 39">close</button>
        </div>
        <button class="btn btn-default" ng-click="users.createOffer(timeslot);tab = 33" ng-show="app.current_user.id !== users.user.id && !users.isClosed(timeslot)">create offer</button>
      </div>
    </div>
    <div>
      <h2>Thursday</h2>
      <div id="thurs" ng-repeat="timeslot in users.user.timeslots | filter:{weekday:4}">
        {{timeslot.hours}}
        <p>timeslot id: {{timeslot.id}}</p>
        <button class="btn btn-default" ng-show="timeslot.offers.length && tab !== 4 && !users.isClosed(timeslot)" ng-click="tab = 4">{{timeslot.offers.length}} offer(s)</button>
        <button class="btn btn-success" ng-show="timeslot.offers.length && tab !== 4  && users.isClosed(timeslot)" ng-click="tab = 4">Accepted offer</button>
        <div id="timeslot-offers" ng-show="tab === 4">
          <ul ng-repeat="offer in timeslot.offers">
            <li><button class="btn btn-default" ng-click="tab = 44" ng-show="tab !== 44">See offer {{offer.id}}</button>
              <div class="talnt" ng-show = "tab ===44">
                <h4>status: {{offer.status}}</h4>
                   <h3>{{offer.student.username}}</h3>
                   <h3>{{offer.student.username}}'s talents:</h3>
                   <div ng-repeat="talent in offer.student_talents">
                     <p>{{talent.title}}</p>
                   </div>
                   <button ng-click="users.acceptOffer(offer);tab=49" class="btn btn-default" ng-show="app.current_user.id === users.user.id && !users.isClosed(timeslot)">accept</button>
                   <button ng-click="users.declineOffer(offer);tab = 0" class="btn btn-default" ng-show="app.current_user.id === users.user.id && !users.isClosed(timeslot)">decline</button>
                   <button ng-click="users.declineOffer(offer);tab = 0" class="btn btn-default" ng-show="app.current_user.id === users.user.id && users.isClosed(timeslot)">cancel</button>
                   <button class="btn btn-default" ng-click="tab=4">close</button>
                 </div>
            </li>
          </ul>
            <button class="btn btn-default" ng-click="tab = 0" ng-show="timeslot.offers.length && tab !== 49">close</button>
        </div>
        <button class="btn btn-default" ng-click="users.createOffer(timeslot);tab = 44" ng-show="app.current_user.id !== users.user.id && !users.isClosed(timeslot)">create offer</button>
      </div>
    </div>
    <div>
      <h2>Friday</h2>
      <div id="fri" ng-repeat="timeslot in users.user.timeslots | filter:{weekday:5}">
        {{timeslot.hours}}
        <p>timeslot id: {{timeslot.id}}</p>
        <button class="btn btn-default" ng-show="timeslot.offers.length && tab !== 5 && !users.isClosed(timeslot)" ng-click="tab = 5">{{timeslot.offers.length}} offer(s)</button>
        <button class="btn btn-success" ng-show="timeslot.offers.length && tab !== 5  && users.isClosed(timeslot)" ng-click="tab = 5">Accepted offer</button>
        <div id="timeslot-offers" ng-show="tab === 5">
          <ul ng-repeat="offer in timeslot.offers">
            <li><button class="btn btn-default" ng-click="tab = 55" ng-show="tab !== 55">See offer {{offer.id}}</button>
            <div class="talnt" ng-show = "tab ===55">
              <h4>status: {{offer.status}}</h4>
               <h3>{{offer.student.username}}</h3>
               <h3>{{offer.student.username}}'s talents:</h3>
               <div ng-repeat="talent in offer.student_talents">
                 <p>{{talent.title}}</p>
               </div>
               <button ng-click="users.acceptOffer(offer);tab=59" class="btn btn-default" ng-show="app.current_user.id === users.user.id && !users.isClosed(timeslot)">accept</button>
               <button ng-click="users.declineOffer(offer);tab = 0" class="btn btn-default" ng-show="app.current_user.id === users.user.id && !users.isClosed(timeslot)">decline</button>
               <button ng-click="users.declineOffer(offer);tab = 0" class="btn btn-default" ng-show="app.current_user.id === users.user.id && users.isClosed(timeslot)">cancel</button>
               <button class="btn btn-default" ng-click="tab=5">close</button>
             </div>
            </li>
          </ul>
          <button class="btn btn-default" ng-click="tab = 0" ng-show="timeslot.offers.length && tab !== 59">close</button>
        </div>
        <button class="btn btn-default" ng-click="users.createOffer(timeslot);tab = 55" ng-show="app.current_user.id !== users.user.id  && !users.isClosed(timeslot)">create offer</button>
        <button ng-show="app.current_user.id === users.user.id" ng-click="users.deleteTimeslot(timeslot)">delete timeslot</button>
      </div>
    </div>
    <div>
      <h2>Saturday</h2>
      <div id="sat" ng-repeat="timeslot in users.user.timeslots | filter:{weekday:6}">
        {{timeslot.hours}}
        <p>timeslot id: {{timeslot.id}}</p>
        <button class="btn btn-default" ng-show="timeslot.offers.length && tab !== 6 && !users.isClosed(timeslot)" ng-click="tab = 6">{{timeslot.offers.length}} offer(s)</button>
        <button class="btn btn-success" ng-show="timeslot.offers.length && tab !== 6  && users.isClosed(timeslot)" ng-click="tab = 6">Accepted offer</button>
        <div id="timeslot-offers" ng-show="tab === 6">
          <ul ng-repeat="offer in timeslot.offers">
            <li><button class="btn btn-default" ng-click="tab = 66" ng-show="tab !== 66">See offer {{offer.id}}</button>
              <div class="talnt" ng-show = "tab ===66">
                <h4>status: {{offer.status}}</h4>
               <h3>{{offer.student.username}}</h3>
               <h3>{{offer.student.username}}'s talents:</h3>
               <div ng-repeat="talent in offer.student_talents">
                 <p>{{talent.title}}</p>
               </div>
               <button  ng-click="users.acceptOffer(offer);tab=69"  class="btn btn-default" ng-show="app.current_user.id === users.user.id && !users.isClosed(timeslot)">accept</button>
               <button ng-click="users.declineOffer(offer);tab = 0" class="btn btn-default" ng-show="app.current_user.id === users.user.id && !users.isClosed(timeslot)">decline</button>
               <button ng-click="users.declineOffer(offer);tab = 0" class="btn btn-default" ng-show="app.current_user.id === users.user.id && users.isClosed(timeslot)">cancel</button>
               <button class="btn btn-default" ng-click="tab=6">close</button>
             </div>
            </li>
          </ul>
          <button class="btn btn-default" ng-click="tab = 0" ng-show="timeslot.offers.length && tab !== 69">close</button>
        </div>
        <button class="btn btn-default" ng-click="users.createOffer(timeslot);tab = 66" ng-show="app.current_user.id !== users.user.id && !users.isClosed(timeslot)">create offer</button>
      </div>
    </div>
    <div>
      <h2>Sunday</h2>
      <div id="sun" ng-repeat="timeslot in users.user.timeslots | filter:{weekday:7}">
        {{timeslot.hours }}
        <p>timeslot id: {{timeslot.id}}</p>
        <button class="btn btn-default" ng-show="timeslot.offers.length && tab !== 7 && !users.isClosed(timeslot)" ng-click="tab = 7">{{timeslot.offers.length}} offer(s)</button>
        <button class="btn btn-success" ng-show="timeslot.offers.length && tab !== 7  && users.isClosed(timeslot)" ng-click="tab = 7">Accepted offer</button>
        <div id="timeslot-offers" ng-show="tab === 7">
          <ul ng-repeat="offer in timeslot.offers">
            <li><<button class="btn btn-default" ng-click="tab = 77" ng-show="tab !== 77">See offer {{offer.id}}</button>
              <div class="talnt" ng-show = "tab === 77 ">
                <h4>status: {{offer.status}}</h4>
               <h3>{{offer.student.username}}</h3>
               <h3>{{offer.student.username}}'s talents:</h3>
               <div ng-repeat="talent in offer.student_talents">
                 <p>{{talent.title}}</p>
               </div>
               <button ng-click="users.acceptOffer(offer);tab=79" class="btn btn-default" ng-show="app.current_user.id === users.user.id && !users.isClosed(timeslot)">accept</button>
               <button ng-click="users.declineOffer(offer);tab = 0" class="btn btn-default" ng-show="app.current_user.id === users.user.id && !users.isClosed(timeslot)">decline</button>
               <button ng-click="users.declineOffer(offer);tab = 0" class="btn btn-default" ng-show="app.current_user.id === users.user.id && users.isClosed(timeslot)">cancel</button>
               <button class="btn btn-default" ng-click="tab=7">close</button>
             </div></li>
          </ul>
          <button class="btn btn-default" ng-click="tab = 0" ng-show="timeslot.offers.length && tab !== 79">close</button>
        </div>
        <button class="btn btn-default" ng-click="users.createOffer(timeslot);tab = 77" ng-show="app.current_user.id !== users.user.id">create offer</button>
      </div>
   </div>
  </div>
</div>
<button ng-click="users.createTimeslot(5,19);">create timeslo(day: friday, hour: 19:00) Will work on form later</button>


