<!-- TODO: Come back and angular all bootstrap -->
<!-- <div ng-controller="CarouselDemoCtrl">
  <div style="height: 305px">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
    </div>
  </div>
</div>
 -->
<div id="myCarousel" class="carousel slide">
     <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">

       <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" id="main-caro"></div>
            <div class="carousel-caption">
                <h1>Barter<h1>
                <h3>Rise By Lifting Others</h3>
            </div>
        </div>

        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" id="about-barter"></div>
            <div class="carousel-caption">
                <h2>About Barter</h2>
                <p id="header-text">
                  It started with an question. A thought that if we share our talents and our time, how much can we learn? Barter was started for the sole purpose of taking the expenses of having a tutor and replacing it with giving your time to teach one another your talents. A community built by offering what you know to the world. A community built to connect people globally through your knowledge.
                </p>
                <p id="header-text">
                  Teach, grow, learn.
                </p>
            </div>
        </div>

        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" id="offer-guide"></div>
            <div class="carousel-caption">
                <h2 id="header-title">Offer Your Talents and Barter For Others</h2>
                <ul>
                  <li id="header-list">
                    Sign up and begin listing your availablity!
                  </li>
                  <li id="header-list">
                    Add samples of your talent! Display it for others to see!
                  </li>
                  <li id="header-list">
                    Search for talents you want to learn and barter with your what you can do!
                  </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <div class="row talent-box">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a ng-click="welcome.selectedCategory = 'Art & Music'" data-toggle="pill" >Art & Music</a></li>
            <li><a ng-click="welcome.selectedCategory = 'Sports'" data-toggle="pill" >Sports</a></li>
            <li><a ng-click="welcome.selectedCategory = 'Nutrition & Fitness'" data-toggle="pill" >Nutrition & Fitness</a></li>
            <li><a ng-click="welcome.selectedCategory = 'Cooking & Baking'" data-toggle="pill" >Cooking & Baking</a></li>
            <li><a ng-click="welcome.selectedCategory = 'Computers & Electronics'" data-toggle="pill" >Computers & Electronics</a></li>
            <li><a ng-click="welcome.selectedCategory = 'Education & Careers'" data-toggle="pill" >Education & Careers</a></li>
            <li><a ng-click="welcome.selectedCategory = 'Home Improvement'" data-toggle="pill" >Home Improvement</a></li>
          </ul>
        </div> <!-- col-4 -->

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
          <div class="tab-content">
            <div ng-class="welcome.category == 'music' ? 'active' : 'inactive'" id="music" class="tab-pane fade in active talents-list">
              <h3>{{welcome.selectedCategory}} Talents</h3>
              <div class="panel-group" id="accordion">
                <div class="panel panel-default" ng-repeat="talent in welcome.tals | filter: {type: welcome.selectedCategory} ">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{talent.id}}">{{talent.title}}</a>
                    </h4>
                  </div>

                  <div id="collapse{{talent.id}}" class="panel-colapse collapse out">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                          <ul>
                            <li>By {{talent.user.username}}</li>
                            <li>Rating: {{welcome.getScore(talent.user.id)}}</li>
                            <li>Location: {{talent.user.location}}</li>
                            <li>Experience: {{welcome.getExperience(talent.user.id, talent.id)}}</li>
                            <li><a ng-href="#/users/{{talent.user_id}}" class="btn btn-info btn-sm" role="button">Check Availability</a></li>
                          </ul>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <img class="user-image" src="http://www.gravatar.com/avatar/{{welcome.getGrav(talent.user_id)}}?s=100&&d=http://cdn.shopify.com/s/files/1/0426/7237/files/sad_doge_small.jpg?7303" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- col-9 -->

      </div> <!-- row talent-box -->
    </div> <!-- category col-8 -->

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <!-- Search Bar -->
      <div class="input-group input-group-lg">
        <input ng-model="searchText" type="text" class="form-control" name="search" placeholder="Search for Talents" >
        <span class="input-group-btn">
          <button ng-click="welcome.toggle()" class="btn btn-default" type="button">Go!</button>
        </span>
        <span class="input-group-btn">
          <button ng-click="welcome.clear()" class="btn btn-default" type="button">Hide</button>
        </span>
      </div>

      <!-- Search List -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="search-list" ng-show="welcome.myVar">
            <div class="search-result">
              <table class="table table-hover">
                <tr ng-repeat="talent in welcome.tals | filter:{title: searchText} | orderBy: '-created_at'">
                  <td><a ng-href="#/users/{{talent.user_id}}">{{talent.title}}</a></td>
                  <td>By {{talent.user.username}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div> <!-- col-12 -->
      </div> <!-- serach-list row -->

      <!-- Top Users -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div ng-class="hot-users">
            <div class="hot-users">
              <h3>Top 10 Users:</h3>
              <div>
                <table class="table table-hover">
                  <tr ng-repeat="person in welcome.persons | limitTo:10  | orderBy: '-score'">
                    <td><a ng-href="#/users/{{person.id}}">{{person.username}}</a></td>
                    <td>Rating: {{person.score}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div> <!-- col -->
      </div> <!-- row -->

    </div> <!-- search col-4 -->

  </div> <!-- row -->
</div> <!-- container -->

