<div class="container about-welcome">
  <h1>Welcome to Barter</h1>
  <h3>  Where talents are currency</h3>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group input-group-lg">
        <input ng-model="searchText" type="text" class="form-control" name="search" >
          <span class="input-group-btn">
            <button ng-click="welcome.toggle()" class="btn btn-default" type="button">Go!</button>
          </span>
          <span class="input-group-btn">
            <button ng-click="welcome.clear()" class="btn btn-default" type="button">Hide</button>
          </span>
      </div>
    </div>
  </div>
  <br>
  <div class="search-list" ng-show="welcome.myVar">
    <div class="row">
      <div class="col-lg-8 search-result" ng-repeat="talent in welcome.tals | filter:{title: searchText}">
        <a ng-href="#/users/{{talent.user_id}}">{{talent.title}}</a>
        By {{talent.user.username}}
      </div>
    </div>
  </div>
</div>
<br>
<div class="container talent-box">
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a ng-click="welcome.selectedCategory = 'Art & Music'" data-toggle="pill" >Art & Music</a></li>
    <li><a ng-click="welcome.selectedCategory = 'Sports'" data-toggle="pill" >Sports</a></li>
    <li><a ng-click="welcome.selectedCategory = 'Fitness & Nutrition'" data-toggle="pill" >Fitness & Nutrition</a></li>
    <li><a ng-click="welcome.selectedCategory = 'Cooking & Baking'" data-toggle="pill" >Cooking & Baking</a></li>
    <li><a ng-click="welcome.selectedCategory = 'Computers & Electronics'" data-toggle="pill" >Computers & Electronics</a></li>
    <li><a ng-click="welcome.selectedCategory = 'Education & Careers'" data-toggle="pill" >Education & Careers</a></li>
    <li><a ng-click="welcome.selectedCategory = 'Home Improvement'" data-toggle="pill" >Home Improvement</a></li>

  </ul>

  <div class="tab-content">
    <div ng-class="welcome.category == 'music' ? 'active' : 'inactive'" id="music" class="tab-pane fade in active talents-list">
      <h3>{{welcome.selectedCategory}} Talents</h3>
      <div ng-repeat="talent in welcome.tals | filter: {type: welcome.selectedCategory} ">
        <a ng-href="#/users/{{talent.user_id}}">{{talent.title}}</a>
        By {{talent.user.username}}
      </div>
    </div>

  </div>

    <div ng-class="hot-users">
      <div class="hot-users">
        <h3>Top Teachers:</h3>
        <div ng-repeat="person in welcome.persons | orderBy: '-score'">
          <a ng-href="#/users/{{person.id}}">{{person.username}}</a> Rating: {{person.score}}
        </div>
      </div>
    <div>

</div>

