/*
Color Scheme:

Site background: #E6E8E6
All div borders: #D1D3D1
Whatever you want ;): #666A86
Chocolate Brown: #564639
Font: #3A3335
*/

* {
  border-radius: 0 !important;
}

.ng-scope {
  background-color: #E6E8E6;
}
.container {
  color: #3A3335;
  background-color: white;
  border: 2px solid #D1D3D1;
}

a.ng-binding {
  color: #666A86;
}

a.ng-binding:hover {
  color: #564639;
}

#edit {
  color: #564639;
}

#edit:hover {
  color: #666A86;
}

#delete{
  color: #564639;
}