/*
Color Scheme:

Site background: #E6E8E6
All div borders: #D1D3D1
Whatever you want ;): #666A86
Chocolate Brown: #564639
Font: #3A3335
*/

* {
  border-radius: 0 !important;
}

.ng-scope {
  background-color: #E6E8E6;
}
.container {
  color: #3A3335;
  background-color: white;
  border: 2px solid #D1D3D1;
}

#brand-font {
font-family: 'Federo', sans-serif;
font-size: 36px;
}
a.ng-binding {
  color: #666A86;
}

a.ng-binding:hover {
  color: #564639;
}

#user-edit {
  color: #564639;
  float: right;
}

#user-edit:hover {
  color: #666A86;
}

#talent-edit {
  color: #564639;
  padding-left: 45px;
}

#talent-edit:hover {
  color: #666A86;
}

#delete{
  color: #564639;
}

#delete:hover {
  color: #666A86;
}