.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bolder;
}

li {
  list-style-type: none;
}

#user-aboutme {
  height: 300px;
  /*width: 500px;*/
  border: 1px solid black;
  /*float: left;*/
}

#user-talents {
 height: 300px;
 /*width: 500px;*/
 border: 1px solid black;
/* float: right;*/
 overflow: scroll;

}

#user-timeslots {
  margin: 40px;
  /*width: 1000px;*/
  border: 1px solid black;
  /*clear: both;*/
}


#user-timeslots {
  height: 600px;
  overflow: scroll;
}

form input {
  display: block;
  /*width: 400px;*/
}

#user-select {
  display: block;
}

#user-timeslots {
  background-color: black;
}

.talnt {
  border: 2px solid black;
  margin: 10px;
  /*width: 50%;*/
}

#new-ts {
  margin: 50px;
  width: 50%;
}

.mrgn {
  margin :20px;
}
.day-block {
  text-align: center;
}

.day-title {
  background-color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
}
.day-div {
  background-color: #C299C2;
}
.times {

}
.timeslot {
  border: 2px solid grey;
}