.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bolder;
}

li {
  list-style-type: none;
}

#user-aboutme {
  background-color: white;
  border-radius: 2%;
  border: 1px solid #D1D3D1;
  margin-top: 30px;
}

.user-image{
  border-radius: 25%;
  display: block;
  margin: 0 auto;
}

#user-timeslots {
  margin: 40px;
  border: 1px solid #D1D3D1;
}


#user-timeslots {
  height: 800px;
  overflow: scroll;
}

form input {
  display: block;
}

#user-select {
  display: block;
}

#user-timeslots {
  background-color: #645443;
}

.talnt {
  border: 2px solid #D1D3D1;
  margin: 10px;
}

#new-ts {
  margin: 50px;
  width: 70%;
}

#user-page {
  background-color: #CFD1CF;
}

#user-talents {
  margin-top: 30px;
}

.mrgn {
  margin :20px;
}
.day-block {
  text-align: center;
  margin: 10px;
}

.day-title {
  background-color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tims-count{
  padding-top: 10px;
  padding-bottom: 10px;
}
.tims-count:hover {
  color: white;
  font-size: 150%;
}
.day-div {
  background-color: #C4A7C4;
}
.times {

}
.tim-of {
  text-align: left;
  text-indent: 50px;
  border-top: 2px solid grey;
  background-color: #EDDCE4;
  font-size: 20px;
}
.talnt {
  background-color: ;

}
.timeslot {
  border: 2px solid #D1D3D1;
}
.timeslot:hover {
  background-color: #E0D6CC;
}

.delet {
  background-color: #E0CCE0 !important;
}
.btn {
  background-color: #F0D1E0 !important;
  border: 1px solid grey !important;
  border-radius: 4px !important;
  margin: 5px;
}
.btn:hover {
  background-color: #F3DAE6 !important;
}
.offers {
  background-color: #E0D6CC;
  margin-left: -2.8em;
}