.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bolder;
}

li {
  list-style-type: none;
}

#user-aboutme {
  height: 300px;
  border: 1px solid #D1D3D1;
}


#user-timeslots {
  margin: 40px;
  border: 1px solid #D1D3D1;
}


#user-timeslots {
  height: 800px;
  overflow: scroll;
}

form input {
  display: block;
}

#user-select {
  display: block;
}

#user-timeslots {
  background-color: black;
}

.talnt {
  border: 2px solid #D1D3D1;
  margin: 10px;
}

#new-ts {
  margin: 50px;
  width: 50%;
}

.mrgn {
  margin :20px;
}
.day-block {
  text-align: center;
}

.day-title {
  background-color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tims-count{
  padding-top: 10px;
  padding-bottom: 10px;
}
.tims-count:hover {
  color: white;
  font-size: 150%;
}
.day-div {
  background-color: #C299C2;
}
.times {

}
.timeslot {
  border: 2px solid #D1D3D1;
}