.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bolder;
}

li {
  list-style-type: none;
}

#user-aboutme {
  background-color: white;
  border-radius: 2%;
  border: 1px solid #D1D3D1;
  margin-top: 30px;
}

.user-image{
  border-radius: 25%;
  display: block;
  margin: 0 auto;
}

#user-timeslots {
<<<<<<< HEAD
  margin: 40px;
  border: 1px solid #D1D3D1;
  background-color: #B6C9CD;
  border-radius: 2%;
  margin-top: 40px;
  border: 2px solid #D1D3D1;
  height: 800px;
  overflow: scroll;
  background-color: #B6C9CD;
}

.talent-line {
  background-color: #E6E8E6;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 2%;
  width: 90%;
  margin: 0px;
  padding-left: 4px;
}

form input {
  display: block;
  width: 300px;
}

#user-select {
  display: block;
}

.talnt {
  border: 2px solid #D1D3D1;
  margin: 10px;
}

.
#new-ts {
  margin: 50px;
  width: 30%;
}
#ts-form {
  width: 40%;
}

#user-page {
  /*background-color: #CFD1CF;*/
}

#user-talents {
  margin-top: 30px;
}

.mrgn {
  margin :20px;
}
.day-block {
  text-align: center;
  margin: 10px;
}

.day-title {
  background: -webkit-linear-gradient(left, white , #B6B6C7);
  background: -o-linear-gradient(right, white , #B6B6C7);
  background: -moz-linear-gradient(right, white , #B6B6C7);
  background: linear-gradient(to right, white , #B6B6C7);
  padding-top: 10px;
  padding-bottom: 10px;
  color: #4D4D4D;
}
.tims-count h3{
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tims-count h3:hover {
  background-color: grey;
  color: white;
  font-weight: bold;
}
.day-div {
  background-color: white;
}
.times {
  color: #4D4D4D;
}
.tim-of {
  text-align: left;
  text-indent: 50px;
  border-top: 2px solid grey;
  font-size: 20px;
}
.talnt {
  background-color: ;

}
.timeslot {
  border: 2px solid #D1D3D1;
}
.timeslot:hover {
  background-color: #E6E3EB;
}

.delet {
  background-color: #E0CCE0 !important;
}
.btn-margin {
  background-color: #BFBFC3 !important;
  border: 2px solid #AEAEB4 !important;
  border-radius: 6px !important;
  margin-top: 5px;
}

.btn:hover {
  background-color: #DFDFE1 !important;
}
.offers {
  background-color: #E6E3EB;
  margin-left: -2.8em;
}