.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bolder;
}

li {
  list-style-type: none;
}

#user-aboutme {
  height: 300px;
  /*width: 500px;*/
  border: 1px solid black;
  /*float: left;*/
}

#user-talents {
 height: 300px;
 /*width: 500px;*/
 border: 1px solid black;
/* float: right;*/
 overflow: scroll;

}

#user-timeslots {
  margin: 40px;
  /*width: 1000px;*/
  border: 1px solid black;
  /*clear: both;*/
}


#user-edit {
}

form input {
  display: block;
  /*width: 400px;*/
}

#user-select {
  display: block;
}

#user-container {

}

.talnt {
  border: 2px solid black;
  margin: 10px;
  /*width: 50%;*/
}

#new-ts {
  margin: 50px;
}

.mrgn {
  margin :20px;
}

